In [1]:
import pandas as pd

In [5]:
Finances = pd.read_csv("budget_data.csv")

In [6]:
Finances.head()

   Profit/Losses      Date
0         867884  Jan-2010
1         984655  Feb-2010
2         322013  Mar-2010
3         -69417  Apr-2010
4         310503  May-2010

In [7]:
Finances.shape

(86, 2)

In [8]:
import numpy as np

In [9]:
Finances['Profit/Losses'].mean()

446309.0465116279

In [10]:
Finances['Profit/Losses'].sum()

38382578

In [11]:
Total = (Finances['Profit/Losses'].sum())

In [12]:
print (Total)

38382578

In [13]:
len(Finances)

86

In [14]:
Finances['Profit/Losses'].pct_change().cumsum()

0           NaN
1      0.134547
2     -0.538422
3     -1.753994
4     -7.227005
        ...
81   -35.319545
82   -28.568520
83   -29.491894
84   -28.225382
85   -24.370437
Name: Profit/Losses, Length: 86, dtype: float64

In [15]:
Finances['Profit/Losses'].max()

1170593

In [16]:
Finances['Profit/Losses'].min()

-1196225

In [17]:
Finances.loc[Finances['Profit/Losses'].idxmax()]

Profit/Losses     1170593
Date             Feb-2012
Name: 25, dtype: object

In [18]:
Finances.loc[Finances['Profit/Losses'].idxmin()]

Profit/Losses    -1196225
Date             Sep-2013
Name: 44, dtype: object

In [19]:
df_mean = Finances["Profit/Losses"].mean()

In [20]:
print('total months','86')

total months 86

In [21]:
print(Total)

38382578

In [22]:
print('average change')

average change

In [23]:
print(df_mean)

446309.0465116279

In [24]:
display(Finances.loc[[25,44]])

    Profit/Losses      Date
25        1170593  Feb-2012
44       -1196225  Sep-2013